.App {
  min-height: 100vh;
  /* text-align: center; */
  background-color: #0d0e0c;
  color: white;
  padding: 20px;
}

.hrclass{
  background-color: red;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}